:root {
  --fuent-principas: 'Amatic SC', cursive;
  --fuent-secundary: 'Inconsolata', monospace;
  --fuent-three: 'Josefin Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(0,0,0) 25%, rgb(0,0,0) 49%, rgb(0, 2, 117) 100%);

}

.conteiner {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.pagina {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(23, 89, 145, 1) 0%, rgba(1, 1, 153, 1) 100%, rgba(14, 17, 161, 1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  text-align: justify;
}

.pagina__burbuja {
  background-color: rgba(255, 255, 255, .5);
  filter: blur(1px);
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  animation: borbuja 3s linear infinite;
}

.borbuja {
  width: auto;
  height: 100%;
}

@keyframes borbuja {
  0% {
    opacity: 0;
    bottom: 0;
  }

  50% {
    opacity: .4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

/* Nav*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: alternate move 1s ease infinite;
  z-index: 9999;
  margin-top: 5px;
  margin-bottom: 10px;

}

.nav__img {
  width: 120px;
  height: auto;
}

.nav__logo {
  width: 100%;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav__link {
  color: white;
  font-family: var(--fuent-secundary);
  font-weight: bold;
  text-decoration: none;
}

.nav__hamburger {
  color: white;
  font-size: 30px;
  display: none;
}

@keyframes move {
  to {
    transform: translateY(5px);
  }
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 80vh;
}

.header__info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
}

.header__Welcome {
  width: 200px;
  color: white;
  border: 1px solid white;
  padding: .5rem;
  background: linear-gradient(90deg, rgba(90, 51, 116, 0.8504273504273504) 0%, rgba(72, 90, 182, 0.9017094017094017) 100%);
  box-shadow: 0px 0px 3px white;
  font-family: var(--fuent-principas);
  word-spacing: .2rem;
  font-size: 20px;
}


.header__titulo {
  color: white;
  font-family: var(--fuent-three);
  font-weight: bold;
  letter-spacing: 3px;
}

.header__about {
  font-family: 'Anek Telugu', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  font-size: 15px;
  color: white;
}

.herader__pefil {
  width: 300px;
  height: 400px !important;
}

.header__card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(34, 189, 195, 0.8295693277310925) 0%, rgba(153, 45, 253, 0.8435749299719888) 100%);
  overflow: hidden;
  position: relative;
}

.header__imgBx {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
}

.header__card:hover .header__imgBx img {
  transform-origin: top;
  margin-top: 10px;
  transform: scale(.5);
  transition: .5s;
  border-radius: 15px;
}

.header__imgBx img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: .5s;
}

.header__data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuent-three);
  width: 90%;
  gap: 15px;
  margin: 0 auto 50px auto;
}

.header__name {
  color: white;
  font-size: 1.4rem;
}

.header__dev {
  color: #d6d6d6;
  font-size: .9rem;
  font-family: var(--fuent-secundary);
}

.header__icons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header__icono{
  width: 40px;
  height: 40px;
}

.header__icon {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 10px;

}

.header__icono:hover .header__icon {
  animation: rotate 1s ease;
  background-color: #2193f3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transform: scale(0);
  }

  to {
    transform: rotate(360deg);
    transform: scale(1);
  }
}

.header__btn {
  color: white;
  background-color: transparent;
  border: none;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: var(--fuent-secundary);
  cursor: pointer;
}

.header__btn:hover {
  transform: scale(1.2);
  transition: .5s;
}


/* Skills */

.skills {
  background-color: black;
  color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 2px -1px white;
  padding: 10px 10px;
}

.skills__titulo {
  margin: 20px 0;
  font-size: 30px;
  font-family: var(--fuent-secundary);
}

.skills__info {
  color: #888888;
  font-size: 15px;
  font-family: 'Anek Telugu', sans-serif;
  text-align: justify ;
}

.skills__contentSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.Skills__skill {
  width: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.skills__iconArrow {
  font-size: 1.5rem;
}

.skills__fondo {
  position: relative;
  background: linear-gradient(0deg, rgba(34, 189, 195, 0.8295693277310925) 0%, rgba(153, 45, 253, 0.8435749299719888) 100%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skills__contentPercentage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: black;
  width: 80PX;
  height: 80PX;
  border-radius: 50%;
}

.skills__technology {
  text-align: center;
  color: white;
  font-family: var(--fuent-secundary);
  margin-top: 1rem;
}

/* Projects */
.Projects {
  text-align: center;
  /* margin: 80px auto 0 auto; */
  margin: 0 auto;
  margin-top: 20px;
}

.proyects__titulo {
  color: white;
  font-family: var(--fuent-secundary);
  margin-bottom: 1rem;
  font-size: 2rem;
  break-before: d;
}

.proyects__info {
  color: #888888;
  font-family: var(--fuent-three);
  word-spacing: 2px;
  margin-bottom: 2rem;
  text-align: justify;
}

.proyects__tabs {
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  width: 50%;
  margin: 0px auto;
  position: relative;
  border-radius: 20px;
  gap: 5px;
  background-color: blueviolet;
}

.proyects__btnTabs {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: .5rem;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: var(--fuent-three);
}

.projects__contentImg {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.projects__img {
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  object-fit: cover ;
}

.projects__imgas {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px white;
}

@media (max-width: 850px) {
  .projects__img {
    width: 40%;
  }

  .projects__contentImg {
    justify-content: space-evenly;
  }

  .header {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .pagina{
    height: 100vh;
  }

  .header__btn {
    padding: 0;
  }

}

@media (max-width: 750px) {

  .projects__img {
    width: 80%;
    height: 400px;
  }

  .nav{
    margin-bottom: 20px
  }
  .nav__hamburger{
    display: block;
  }

  .nav__list{
    display: none;
  }

  .header{
    height: 100%;
  }
}

@media (max-width: 500px) {
  .header{
    height: 100%;
  }
}